.navbar-default {
  background-color: #fff;
  font-family: 'Barlow';
  font-weight: 100;
  font-size: 1.7vh;
}

.content {
  color: #636b6f;
  font-family: 'Raleway';
  font-weight: 100;
}

.container {
  padding-top: 30px;
}

.mymodal {
  position: absolute;
  top: 30%;
  left: 30%;
}

.modal-footer {
  border: none;
}
.modal-header {
  border: none;
}

#success, #errors{
  position: absolute;
  left: 50%;
  display: none;
}

select {
    padding: 10px;
    border-radius: 4px;
    background-color: #f7f7f7;
}

@media (min-width: 1200px) {
.container {
    max-width: 1340px;
}
